.student{
  width:100%;
  height: 300px;
  position: relative;
  /* border: 2px solid red; */
}
.studen-inner1{
  display: flex;
  color: black;
  /* width: 80%; */
  font-size: 0.9rem;
}
.student p:nth-child(2){
  position: absolute;
  left: 10px;
  width: 70%;
  /* border: 2px solid red; */

  font-size: 0.8rem;
}
.caursole-img1{
  position: absolute;
  bottom:20%;
  width: 50px;
  left:30%;
}
.caursole-img2{
  position: absolute;
  bottom: 0%;
}