*{
    margin: 0;
    padding: 0;
}
.home-page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.know-more{
    display: flex; 
    /* border: 2px solid red; */

  
}
.home-main-img{
    width: 100%;

}
.first-knowmore{
    /* border: 2px solid rgb(0, 72, 255); */
    width: 60%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    justify-content: center;
    align-items: left;
    padding-left: 5vw;
}
.first-line{
    font-size: 3rem;
   color:  #f78077;
}
.second-line{
    font-size: 3rem;
    font-weight: 600;
color: #3e4041;
width:90%;
}
.want-knowmore{
    font-size: 1.3rem;
    color:  #f78077;
}
.knowmore-btn{
    width:25%;
    height: 10%;
    font-size:1.2rem ;
    color: white;
    background-color: #00a5ec;
    border-radius: 5px;
    border: 0px;
}
.tech-box{
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid; */
    height: 18vh;
}
.technologies{
    height: 8vh;
}
.blue-strip{
    position: fixed;
    z-index: 20;
    bottom: 0px;
    width:100%;
    height: 30px;
    background-color: #00a5ec;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
}

.mentorship-driven{
    background-color: #f8fafa;
    display: flex;
    height: 190vh;
   column-gap: 8vw;
   align-items: flex-start;
   padding-top: 13vh;
}
.mentorship-driven-img{
    /* border: 2px solid red; */
   height: 170vh;
}
.mentorship-driven-content{
    /* border: 2px solid red; */
    width:45%;
    height: 100%;
}
.mentorship-driven-content-inner{
    /* border: 2px solid red; */
    height: 18%;
    display: flex;
  
}
.mentorship-driven-content-inner3{
    /* border: 2px solid red; */
    height: 18%;
    display: flex;
    justify-content: center;
    column-gap: 2vw;
  
}
.mentorship-driven-content-inner1{
    /* border: 2px solid red; */
    height: 12%;
}
.mentorship-driven-content-inner2{
    /* border: 2px solid red; */
    height: 12%;
    display: flex;
    justify-content: center;
}
.mentorship-heading{
    font-size: 2.2rem;
    font-weight: 600;
color: #3e4041;
width:90%;
}
.location-img{
   height: 130%;
}
.mentorship-para{
width:19vw;
padding-bottom: 5px;
font-size: 1.1rem;
color: rgb(247, 128, 119);
}
.para2{
    color: rgb(253, 205, 6);
}
.para3{
    color:  rgb(15, 181, 130);
}
.para4{
    color: rgb(240, 119, 149);
}
.alpha{
    position: relative;
    width: 13vw;
    height: 9vh;
    display: flex;
    align-items: center;
    border: 2px dotted rgb(247, 128, 119);
    padding:20px 30px;
    font-size: 1.1rem;
    color: rgb(247, 128, 119);
    background-color: rgb(253, 240, 215);
    border-radius: 10px;
    line-height: 3.5vh;
}
.alpha2{
    position: relative;
    width: 13vw;
    height: 9vh;
    display: flex;
    align-items: center;
    border: 2px dotted rgb(253, 205, 6);
    padding:20px 30px;
    font-size: 1.1rem;
    color: rgb(253, 205, 6);
    background-color: rgb(255, 249, 228);
    border-radius: 10px;
    line-height: 3.5vh;
}
.alpha3{
    position: relative;
    width: 13vw;
    height: 9vh;
    display: flex;
    align-items: center;
    border: 2px dotted rgb(15, 181, 130);
    padding:20px 30px;
    font-size: 1.1rem;
    color: rgb(15, 181, 130);
    background-color: rgb(228, 246, 241);
    border-radius: 10px;
    line-height: 3.5vh;
}
.alpha4{
    position: relative;
    width: 13vw;
    height: 9vh;
    display: flex;
    align-items: center;
    border: 2px dotted  rgb(240, 119, 149);
    padding:20px 30px;
    font-size: 1.1rem;
    color: rgb(240, 119, 149);
    background-color: rgb(255, 231, 237);
    border-radius: 10px;
    line-height: 3.5vh;
}
.alpha-img{
position: absolute;
left: -2vw;
}
.mentorship-arrow{
    padding-top: 15vh;
  height: 35%;
}
.iwantto-cards{
  display: flex;
  flex-direction: column;
 align-items: center;
 width: 100%;
}
.iwantto-heading{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: #6b6c6c;
    padding: 4vh;
}
.iwantto-card-cont{
    width: 80%;
    min-height: 60vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom:5vh ;
}
.home-iwantto-card{
    /* border: 2px solid red; */
     width: 270px;
     height:340px;
     border-radius: 10px;
     display: flex;
     flex-direction:column ;
   align-items: center;
   row-gap: 10%;
   position: relative;
   box-shadow:  0 3px 32px rgba(0,0,0,.1607843137254902);
   cursor: pointer;
}
.iwantto-card-img{
    width: 90%;
}
.home-iwantto-card:hover{
    box-shadow:  1px 13px 15px 5px rgb(0 0 0 / 28%);
}
.iwanttocard-text{
    width: 60%;  
    color: rgb(0, 165, 236);
    font-size: 1.2rem;
    font-weight: 600;
}
.iwanttocard-text1{
    width: 60%;  
    color: rgb(240, 119, 149);
    font-size: 1.2rem;
    font-weight: 600;
}
.iwanttocard-text2{
    width: 60%;  
    color: rgb(15, 181, 130);
    font-size: 1.2rem;
    font-weight: 600;
}
.arrow-cont{
    position: absolute;
    width: 50px;
    height: 50px;
    box-shadow:  0 3px 32px rgba(0,0,0,.1607843137254902);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    bottom: -3vh;
    background-color: #fff;
    /* z-index: 10; */
}


.forth-compo{
    background-color: #f8fafa;
    /* min-height: 110vh; */
    display: flex;
  
    justify-content: center;
}
.forth-compo-inner{
    /* border: 2px solid red; */
    width: 70%;
    display: flex;
    column-gap: 3vw;
    padding-top: 10vh;
}
.forth-compo-heading{
   font-size: 2.5rem;
   font-weight: 600;
   color: rgb(70, 69, 69);
   line-height: 8vh;
}
.forth-compo-inner1{
    /* border: 2px solid red; */
    width: 45%;
    display: flex;
    flex-direction: column;
     align-items: flex-end;
     row-gap: 4vh;
}
.forth-compo-inner2{
    /* border: 2px solid red; */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.forth-compo-content{
    box-sizing: border-box;
    display: flex;
    position: relative;
    /* border: 2px solid red; */
     height: 90px;
     width: 420px;
     border-radius: 10px;
      justify-content: center;
      align-items: center;
      padding: 0px 50px;
      box-shadow: 0 3px 25px rgba(0,0,0,.10196078431372549);
   font-size: 1rem;
   color: rgb(103, 102, 102);
}
.forth-compo-content-img{
    position: absolute;
    left: -3vw;
    top: 0px;
   
}
.forth-compo-inner2-box{
    display: flex;
    width: 50%;

    /* border: 2px solid red; */
}
.know-more-text-cont{
    font-size: 1.2rem;
    color: #6b6c6c;
}


.know-more-btn-cont{
    /* border: 2px solid red; */
    position: relative;
    width: 100%;
}
.knowmore-btn2{
    position:absolute;
    /* left: 10px; */
    width:200px;
    height: 50px;
    font-size:1.2rem ;
    color: white;
    background-color: #00a5ec;
    border-radius: 5px;
    border: 0px;
}



.fifth-compo{
    background-color: #fdf0d7;
    min-height: 135vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.fifth-compo-inner{
    /* border: 2px solid red; */
    width: 70%;
    display: flex;
    padding-top: 15vh;
    column-gap: 5vw;
    min-height: 95vh;
}
.fifth-compo-card{
    /* border: 2px solid red; */
    width: 45%;
    height: 600px;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding-top: 20px;
     background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 32px rgba(0,0,0,.1607843137254902);

}
.fifth-compo-card-img-cont{
    /* border: 0px solid red; */
    width: 92%;
    height:68% ;
    border-radius: 5px;
    background-image: url('../logos/bgimgforcard.svg');
    display: flex;
    justify-content: center;
}
.fifth-compo-card-des{
   color: #f78077;
   font-size: 2rem;
   font-weight: 600;
   margin-top: 10px;
}
.fifth-compo-card-text{
    font-size: 1.2rem;
    color: #818181;
    padding: 5px 0px 30px 0px;
}


.fifth-compo-description{
    width: 55%;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
}
.fifth-compo-description-heading{
    color: #f78077;
   font-size: 2.5rem;
   font-weight: 600;
   margin-top: 10px;
}
.fifth-compo-description-text{
  font-size: 2rem;
  width: 80%;
  color: #818181;
}
.fifth-compo-knowmore-btn{
    width:200px;
    height: 50px;
    font-size:1.2rem ;
    color: white;
    background-color: #00a5ec;
    border-radius: 5px;
    border: 0px;
} 

.fifth-compo-inner1{
    /* border: 2px solid red; */
    width: 70%;
    display: flex;
    padding-top: 15vh;
  
   min-height: 10vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.fifth-compo-inner1-cards{
   background-color: #fff;
   z-index: 10;
   height: 290px;
   width: 210px;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius:8px;
   padding: 2vh;
   row-gap: 20px;

}
.fifth-compo-inner1-para{
    font-size: 2.5rem;
    font-weight: 500;
    color: #3e4041;
}
.fifth-compo-inner1-text{
    width: 80%;
    font-size: 1.2rem;
    text-align: center;
    color: gray;
}







.sixth-compo{
    background-color: #bcf2fb;
    width: 100%;
    /* min-height: 150vh; */
    /* height: max-content; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.sixth-cont-img{
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.home-mentor-data{
    width: 70%;
    /* border: 2px solid red; */
    min-height: 50vh;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content:nter ce; */
    justify-content: space-between;
    /* column-gap: 10%; */
    row-gap: 10vh;
}
.home-mentor-data-card{
    width: 300px;
    height:470px ;
    /* border: 2px solid red; */
    border-radius: 10px;
    position: relative;
    box-shadow: 0 3px 36px rgba(0,0,0,.1607843137254902);
    display: flex;
    flex-direction: column;
    align-items: center;
    
  
}
.home-mentor-data-card-img{
    position: absolute;
    top:0px;
    width: 100%;
}
.home-mentor-data-card-profile{
    position: absolute;
    width: 40%; 
    border-radius: 50%;
    top: 7%;
    left: 20px;
}
.home-mentor-data-card-name{
    position: absolute;
    top: 35%;
   width: 90%;
   font-size: 1.1rem;
   font-weight: 600;
   color: #303131;

}
.home-mentor-data-card-name1{
    position: absolute;
    top: 40%;
   width: 90%;
   font-size: 0.9rem;
   /* font-weight: 600; */
   color: #303131;

}
.home-mentor-data-card-description{
    position: absolute;
    top: 50%;
    height: 30%;
   width: 90%;
   padding:5% 0px;
   color: #3e4041;
   letter-spacing: 1.4px;
   overflow-y: scroll;
   border-top:1px solid rgba(128, 128, 128, 0.233) ;
   border-bottom:1px solid rgba(128, 128, 128, 0.203) ;
}
.home-mentor-data-card-com-img{
    position: absolute;
    bottom: 15px;
}

.home-mentor-heading{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-mentor-heading p:nth-child(1){
    font-size: 2.5rem;
    font-weight: bold;
    padding: 5% 0px 2% 0px;
    color: #3e4041;
}
.home-mentor-heading p:nth-child(2){
    font-size: 1.1rem;
    color: #818181;
    width: 50%;
    text-align: center;

}
.home-collage-boy-img{
    width: 80%;
     min-height:40vh ;
     position: relative;
     box-shadow: 0 0 20px rgba(0,0,0,.1607843137254902);
     border-radius: 10px;
}
.home-collage-boy-img-innerbox{
   position: absolute;
   top: 10%;
   left: 5%;
   /* border: 2px solid red; */
   display: flex;
   flex-direction: column;
   row-gap: 30px;
   align-items: left;
   width: 40%;
}
.home-collage-boy-img-img{
    width: 100%;
}
.home-collage-boy-img-innerbox p:nth-child(1){
    font-size: 2rem;
    font-weight: bold;
    color: #3e4041;
}
.home-collage-boy-img-innerbox p:nth-child(2){
    font-size: 1.5rem;
    color: #00a5ec;
}
.home-collage-boy-img-innerbox button:nth-child(3){
    background-image:  linear-gradient(104deg,#f1127c,#f86667);
    color: white;
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
}
.home-last-three-cards{
    background-color: #fdf0d7;
    width: 100%;
    min-height: 50px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-last-three-cards h1{
    color: #454646;
}
 .home-last-three-cards-cont{
    /* border: 2px solid red; */
    width: 75%;
    display: flex;
    justify-content: space-between;
    padding: 5% 0px;
 }
 .home-last-three-cards-cont-card{
    width: 32%;
    height: 480px;
    /* border: 2px solid blue; */
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 0 3px 30px rgba(0,0,0,.1607843137254902);
 }
 .home-last-three-cards-cont-card img{
    width: 100%;
 }
 .home-last-three-cards-cont-card p{
    margin-top: 20px;
    width: 90%;
    font-size: 1.1rem;
    color: #323333;
 }
 .home-last-three-cards-cont-card button{
    position: absolute;
    bottom: 10px;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: #00a5ec;
    background-color: transparent;
 }









@media only screen and (min-width:280px) and (max-width:500px){
    .html{
        font-size: 5px;
    }
    .know-more{
        flex-direction: column-reverse;
    }
    .first-knowmore{
        width: 80%;
       
    }
    .first-line{
        font-size: 1.5rem;
    }
    .second-line{
        font-size: 1.5rem;   
    }
    .knowmore-btn{
        width: 60%;
        height: 40px;
    }
    .tech-box{
        flex-wrap: wrap;
        justify-content: space-around;
        /* gap: 1%; */
    }
    .mentorship-driven{
        width: 100%;
        justify-content: center;
    }
    .mentorship-driven-img{
        position: absolute;
        opacity: 0.1;
        width: 100%;
    }
    .mentorship-driven-content{
       width: 80%;
       /* border: 2px solid red; */
    }
    .tech-box{
        flex-wrap: wrap;
    }
    .mentorship-driven-content-inner{
        justify-content: center;
    }
    .alpha{
        width:70%;
        font-size: 0.7rem;
    }
    .alpha2{
        width:70%;
        font-size: 0.7rem;
    }
    .alpha3{
        width:70%;
        font-size: 0.7rem;
    }
    .alpha4{
        width: 70%;
        font-size: 0.7rem;
        padding-left:30px;
    }
    .mentorship-para{
        font-size: 0.7rem;
    }
    .mentorship-heading{
        font-size: 1.5rem;
    }
    .alpha-img{
        left: -20px;
    }
    .iwantto-heading{
        /* padding: 5%; */
    }
    .iwantto-cards{
        /* row-gap: 5%;
   min-height: 100vh;
        padding-bottom: 5%;
        padding-top: 5%; */
    }
    .iwantto-card-cont{
        /* flex-direction: column; */
        /* width: 100%; */
        flex-wrap: wrap;
        row-gap: 5vh;
        /* min-height: 60vh; */
        /* border: 2px solid red; */
    }
    .home-iwantto-card{
      width: 100%;
    }
    .forth-compo{
        padding-bottom: 5%;
        min-height: 100vh;
    }
    .forth-compo-inner{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* padding-bottom: 5%; */

    }
    .forth-compo-heading{
        width: 95%;
        font-size: 2rem;
    }
    .know-more-text-cont{
        width: 90%;
    }
        /* padding-bottom: 5%; */
        .forth-compo-inner1{
            width: 100%;
            align-items: center;
            /* justify-content: center; */
        }
        .forth-compo-content{
            width: 80%;
            font-size: 0.8rem;
            /* column-gap: 20%; */
            padding-left: 20%;
        }
        .forth-compo-inner2{
         display: none;
        }
        .know-more-btn-cont{
            width: 90%;
            padding-bottom: 20%;
        }
        .blue-strip{
            font-size: 0.6rem;
        }
        .fifth-compo-inner{
            flex-direction: column;
            width: 100%;
            align-items: center;
        }
        .fifth-compo-card{
            width: 90%;
        }
        .location-img{
            width: 90%;
            height: auto;
        }
        .fifth-compo-description{
            width: 90%;
            align-items: center;
        }
        .fifth-compo-description-heading{
            width: 90%;
            font-size: 1.5rem;
            text-align: center;
        }
        .fifth-compo-description-text{
            font-size: 1.5rem;
            text-align: center;

        }
        .fifth-compo-inner1{
            /* border: 2px solid red; */
            width: 100%;
            flex-wrap: wrap;
            min-height:40vh;
            row-gap: 20px;
            justify-content: space-evenly;
        }
        .fifth-compo-inner1-cards{
            width: 30%;
            height:auto;
            font-size: 1rem;
            /* box-sizing: border-box; */
        }
        .fifth-compo-inner1-cards img{
            /* width: 40%; */
            height: 50px;
        }
        .fifth-compo-inner1-para{
            font-size: 1.51rem;

        }
        .fifth-compo-inner1-text{
            font-size: 1rem;
        }
        .sixth-cont-img{
            display: none;
        }
        .home-mentor-heading p:nth-child(1){
            width: 100%;
            text-align: center;
            font-size: 1.5rem;
        }
        .home-mentor-heading p:nth-child(2){
            width: 90%;
            font-size: 1rem;
        }
        .home-collage-boy-img-innerbox p:nth-child(1){
            font-size: 1rem;
        }
        .home-collage-boy-img-innerbox p:nth-child(2){
            font-size: 0.9rem;
        }
        .home-collage-boy-img-img{
            position: absolute;
            bottom: 0px;
        }
        .home-collage-boy-img-innerbox{
            width: 100%;
            row-gap: 30px;
        }
        .home-last-three-cards-cont{
            flex-direction: column;
            row-gap: 20px;
        }
        .home-last-three-cards-cont-card{
            width: 100%;
        }



}

@media only screen and (min-width:500px) and (max-width:1027px){
    
    .know-more{
        flex-direction: column-reverse;
    }
    .first-knowmore{
        width: 100%;
        box-sizing: border-box;
    }
    .knowmore-btn{
        height: 50px;
    }
    .mentorship-driven{
        width: 100%;
        justify-content: center;
    }
    .mentorship-driven-img{
        position: absolute;
        opacity: 0.1;
        width: 100%;
    }
    .mentorship-driven-content{
       width: 80%;
       /* border: 2px solid red; */
    }
    .tech-box{
        flex-wrap: wrap;
    }
    .mentorship-driven-content-inner{
        justify-content: center;
    }
    .alpha{
        width:70%;
    }
    .alpha2{
        width:70%;
    }
    .alpha3{
        width:70%;
    }
    .alpha4{
        width: 70%;
    }
    .mentorship-heading{
        width: 100%;
        text-align: center;
    }
    .iwantto-cards{
        min-height: 20vh;
    }
    .iwantto-card-cont{
        width: 90%;
        row-gap: 30px;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0px;
        padding-bottom: 3%;
        min-height: 10vh;
    }
    .forth-compo{
        /* border: 2px solid red; */
        flex-direction: column
    }
    .forth-compo-heading{
        text-align: center;
    }
    .forth-compo-inner{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .forth-compo-inner1{
      width: 90%;
      align-items: center;
    }
    .forth-compo-inner2-box{
        width: 90%;
    }
    .fifth-compo{
        width: 100%;
    }
    .fifth-compo-inner{
        flex-direction: column;
        align-items: center;
        /* border: 2px solid red; */
    }
    .fifth-compo-card{
        width:100%;
    }
    .fifth-compo-description-heading{
        width: 100%;
    }
    .fifth-compo-description{
        width: 100%;
    }
    .fifth-compo-description{
        row-gap: 1vh;
    }
    .fifth-compo-inner1{
        width: 80%;
        row-gap: 30px;
        flex-wrap: wrap;
        justify-content: space-around;
        min-height: 10vh;
    }
    .home-mentor-heading p:nth-child(2){
        width: 100%;
    }
    .home-mentor-data{
        width: 95%;
        justify-content: space-around;
    }
    .home-last-three-cards-cont{
        flex-wrap: wrap;
        width: 95%;
        row-gap: 20px;
        justify-content: space-around;
    }
    .home-last-three-cards-cont-card{
        width: 300px;
    }
   
}
@media only screen and (min-width:1027px) and (max-width:1400px)
{
    .first-line{
        width: 100%;
        box-sizing: border-box;
    }
    .first-knowmore{
        box-sizing: border-box;
    }
.tech-box{
   
    flex-wrap: wrap;
}
}

